@import '../../variables';

.categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.one_category {
    display: flex;
    align-items: center;
    align-self: flex-start;     // главное, чтобы не растягивался
    padding: 10px 50px;
    max-width: 200px;
    background-color: var(--category);
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
}

.category_name {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.close_icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: transparent;
    border: none;
    padding: 5px;
}

.one_category:hover .close_icon {
    opacity: 1;
}

.selected {
    background-color: var(--selected);
}

@media (max-width: 420px) {
    .category_name, .one_category {
        font-size: 14px;
    }
}