@import '../../variables';

.inputContainer {
    position: relative;
    display: flex;
    width: 480px;
}

.input {
    background-color: var(--add_habit_input);
    border: 1px solid #F2AE66;
    width: 430px;
    height: 41px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    margin: 20px;
    padding: 5px 10px;

}

.addButton {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--plus_btn);
}

.button {
    background-color: var(--add_habit_btn);
    border: 1px solid var(--main);
    color: var(--text);
    width: 430px;
    height: 41px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    margin: 20px;
}


@media (max-width: 420px) {
    .button {
        width: 300px;
    }
    .inputContainer {
        width: 340px;
    }
}