@import '../../variables';


.habit {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    max-width: 430px;
    width: 100%;
    background-color: $background;
    border: 1px solid $main; // ЛИБО $border если отмечено
    border-radius: 15px;
    height: 85px;
    position: relative;
}

.habit_calendar {
    margin: 0px;
    display: flex;
    align-items: flex-start;
    max-width: 430px;
    width: 100%;
    background-color: $background;
    border: 1px solid $main; // ЛИБО $border если отмечено
    border-radius: 15px;
    height: 85px;
    position: relative;
}

.habit_text {
    margin-left: 15px;
    margin-top: 10px;
}

.checkbox_habit {
    margin-top: 13px;
    margin-left: 13px;
    width: 17px;
}

.name_habit, .notes_habit {
    margin: 0;
}

.name_habit {
    font-size: 16px;
}

.notes_habit {
    color: $border;
    font-size: 14px;
    margin-top: 5px;
}

.checkbox_habit {
    display: none; /* Скрываем стандартный чекбокс */
}

.checkboxLabel {
    position: relative;
    padding-left: 25px; /* Отступ, чтобы кастомный чекбокс не перекрывал текст */
    cursor: pointer;
}

.customCheckbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 17px; /* Ширина чекбокса */
    height: 17px; /* Высота чекбокса */
    border-radius: 2px; /* Радиус для округления углов */
    background-color: #D9D9D9; /* Цвет фона */
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: 10px;
    margin-left: 10px;
}

.checkbox_habit:checked + .customCheckbox {
    background-color: #D9D9D9; /* Цвет фона при отметке */
}

.checkbox_habit:checked + .customCheckbox::after {
    content: '';
    position: absolute;
    left: 4px; /* Положение галочки */
    top: 2px; /* Положение галочки */
    width: 5px; /* Ширина галочки */
    height: 9px; /* Высота галочки */
    border: solid black;
    border-width: 0 3px 3px 0; /* Создаем галочку */
    transform: rotate(45deg); /* Поворачиваем для создания галочки */
}


/* Кнопка с тремя точками */
.dotsButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

