@import '../../variables';

body {
    color: var(--text);
}

.img {
    width: 67px;
    height: 67px;
    border-radius: 100%;
    object-fit: cover; 
}

.container {
    background-color: var(--container);
    width: 204px;
    height: 100vh;
    margin-top: 20px;
    border: 1px solid var(--border);
    border-radius: 21px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    // margin-right: auto;
}

.block_avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.block_links {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
}

.link {
    list-style-type: none;
    font-size: 16px;
    padding: 13px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--text);
}

.exit {
    list-style-type: none;
    font-size: 16px;
    padding: 13px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--text);
}

.link_img {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.link:hover .link_img {
    opacity: 1;
}

.block_exit {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}

.exit {
    cursor: pointer;
    background-color: transparent;
    border: none;
}


.mobile_header {
    display: none;
}

.mobile_menu {
    display: none;
}


@media (max-width: 768px) {
    .container {
        display: none;
    }
    .mobile_header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        display: flex;
        justify-content: space-between;

        z-index: 1001;
        height: 60px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    }

    
    .burger, .close {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        z-index: 1003;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .burger span {
        display: block;
        width: 25px;
        height: 3px;
        background: var(--main);
        margin: 4px 0;
        border-radius: 2px;
        transition: all 0.3s;
    }

    
    .close span {
        position: absolute;
        width: 25px;
        height: 3px;
        background: var(--main);
        border-radius: 2px;
        transition: all 0.3s;
    }
    .close span:first-child {
        transform: rotate(45deg);
    }
    .close span:last-child {
        transform: rotate(-45deg);
    }
    .burger {
        display: flex;
    }
    .mobile_menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--container);
        z-index: 1002;
        padding-top: 80px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    
    .mobile_menu.open {
        opacity: 1;
        pointer-events: auto;
    }
    .block_links {
        width: 100%;
        margin-left: 30px;
        padding: 0;
    }
    .block_exit {
        margin-top: auto;
        margin-bottom: 40px;
    }
    .block_avatar {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        position: absolute;
        top: 10px;
        right: 15px;
    }
    .nickname {
        font-size: 16px;
        margin: 0px 15px;
    }
    .img {
        width: 40px;
        height: 40px;
    }

    .block_exit {
        margin-bottom: 100px;
        
    }
}

@media (max-width: 420px) {
    .block_avatar {
        display: flex !important;
        align-items: center;
    }
    .img {
        order: 2;
    }
    .nickname {
        order: 1;
        margin-bottom: 5px;
    }
}