.statistics_block {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 480px) {
    .statistics_block {
        flex-direction: column;
        margin: 25px 0px;
    }
    .statistics_text {
        margin: 3px;
    }
}