@import '../../variables';

.filters {
    display: flex;
    font-size: 14px;
}

.filter_name {
    cursor: pointer;
}

.filter_count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $main;
    font-weight: bold;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 2px;
    font-size: 14px;
    line-height: 1;
    cursor: default;
}

@media (max-width: 420px) {
    .filters, .filter_count {
        font-size: 12px;
    }
    
    .filters {
        margin-left: 15px;
    }
}