@import '../../variables';


.habit {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    max-width: 430px;
    width: 100%;
    background-color: var(--background);
    border: 1px solid var(--main);
    border-radius: 15px;
    height: 85px;
    position: relative;
    @media (max-width: 460px) {
        width: 296px;
    }
}

.habit_calendar {
    margin: 0px;
    display: flex;
    align-items: flex-start;
    max-width: 430px;
    width: 100%;
    background-color: var(--background);
    border: 1px solid var(--main);
    border-radius: 15px;
    height: 85px;
    position: relative;
}

.habit_text {
    margin-left: 15px;
    margin-top: 10px;
}

.checkbox_habit {
    margin-top: 13px;
    margin-left: 13px;
    width: 17px;
}

.name_habit, .notes_habit {
    margin: 0;
}

.name_habit {
    font-size: 16px;
}

.notes_habit {
    color: var(--habit_notes);
    font-size: 14px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    word-break: break-all;
    padding-bottom: 5px;
}

.checkbox_habit {
    display: none;
}

.checkboxLabel {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.customCheckbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background-color: #D9D9D9;
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: 10px;
    margin-left: 10px;
}

// .checkbox_habit:checked + .customCheckbox {
//     background-color:  var(--input);
// }

.checkbox_habit:checked + .customCheckbox::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.habitCompleted {
    border: 1px solid #BDBDBD;
}

.dotsButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.habit {
    position: relative;
    padding: 10px 0px;
    background-color: var(--habit);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dotsButton {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px; 
}

.optionsMenu {
    position: absolute;
    right: 10px;
    top: 35px;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 10;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    color: var(--text);
    transition: background-color 0.2s ease;

}

.option_delete {
    color: var(--warning);
}

.menuDivider {
    border: none;
    border-top: 1px solid var(--border);
    margin: 0 0 0 0;
    width: 100%;
}


.deadline_habit {
    font-size: 12px;
}

.category_habit {
    font-size: 12px;
    background-color: #D9D9D9;
    color: #212121;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 0 5px;
}

.habit_category_container {
    display: flex;
    align-items: center;
}


.habit {
    min-height: 90px;
    margin-bottom: 8px;
    max-width: 400px;
}