@font-face {
    font-family: 'Lato';
    src: url('../public/fonts/Lato-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik Mono One";
    src: url('../public/fonts/RubikMonoOne-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}