@import '../../variables';

.input {
    background-color: var(--input);
    border: none;
    width: 324px;
    border-radius: 10px;
    height: 25px;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--text);
}

@media (max-width: 420px) {
    .input {
        width: 300px;
    }
}